<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar
      search-icon="search-circle" 
      animated="true" 
      show-clear-button="focus" 
      clear-icon="trash-bin"
      debounce="800" 
      placeholder="Search for area, street..."
      (ionInput)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">buscr-viaje</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button  [routerLink]="['/home']">
    <br><br>
    
    <ion-icon name="home"></ion-icon>
    Inicio
    </ion-button>

    <p>Conductor: {{ driver }}</p>
    <p>Hora: {{ horario }}</p>
    <p>Costo por Persona: {{ costo }}</p>
    <p>Inicio: {{ inicio }}</p>
    <p>Destino: {{ destino }}</p>
</ion-content>
