<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <form   id="registroForm">
            <ion-item>
              <ion-label position="stacked">Usuario</ion-label>
              <ion-input [(ngModel)]="usuario" name="usuario"  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input [(ngModel)]="contrasena" name="contrasena" type="password"  required></ion-input>
            </ion-item>
          </form> 
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="primary" (click)="Ingresar()">Ingresar</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button fill="clear" expand="block" (click)="resetPassword()">¿Olvidaste tu contraseña?</ion-button>
        <ion-button expand="block" color="secondary" [routerLink]="['/registrar-usuario']"><br>registrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
