<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>programar-viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button  [routerLink]="['/home']"> 
    
    
    
    <-----
   

    </ion-button>
    <br> <br>
    <ion-item>
      <ion-label position="floating">Hora</ion-label>
      <ion-input type="text" [(ngModel)]="hora"></ion-input>  <!-- Vincula con la variable username -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Costo</ion-label>
      <ion-input type="text" [(ngModel)]="costo"></ion-input>  <!-- Vincula con la variable username -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Inicio</ion-label>
      <ion-input type="text" [(ngModel)]="inicio"></ion-input>  <!-- Vincula con la variable username -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Destino</ion-label>
      <ion-input type="text" [(ngModel)]="destino"></ion-input>  <!-- Vincula con la variable username -->
    </ion-item>
    <ion-button expand="block" color="primary" (click)="calcularPrecio()">Crear Viaje</ion-button>
    <ion-button expand="block" color="primary" (click)="cancelar()">Cancelar Viaje</ion-button>
    <p>{{ mensaje }}</p>
  
    <br> <br> <br> <br>
  <app-map></app-map>
</ion-content>
