<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido, {{ nombreUsuario }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Opciones de Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="primary" (click)="programarViaje()">Programar un Viaje</ion-button>
      <ion-button expand="block" color="secondary" (click)="buscarViaje()">Buscar un Viaje</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
